In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import pointbiserialr
from scipy.stats import pearsonr

In [2]:
dataset = pd.read_csv("general_data.csv")

In [3]:
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [5]:
dataset.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [6]:
dt = dataset.dropna(axis=0)

In [7]:
dt.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [8]:
dt.shape

(4382, 24)

In [9]:
dataset.shape

(4410, 24)

In [10]:
data = dataset.copy()

In [11]:
data['Attrition'] = data['Attrition'].map({'Yes':1 , 'No':0})

In [13]:
data

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,0,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

# Hypothesis : Age vs Attrition

In [17]:
stats, p = pearsonr(data.Age, data.Attrition)
print(stats,p)

-0.15920500686577965 1.996801615886744e-26

Here p value is less than 0.05 , Then H0 is not significant in age and Attrition,

H1 is the alternate hypothesis, is having the difference in age and attrition.

#  Hypothesis : Age vs DistanceFromHome

In [18]:
stats, p = pearsonr(data.Age, data.DistanceFromHome)
print(stats,p)

0.006963332176908549 0.6438702858562113

H0 is no correction
H1 is having corelation

# Hypothesis : MonthlyIncome vs Attrition

In [21]:
stats, p = pearsonr(data.Attrition,data.MonthlyIncome)
print(stats, p)

-0.03117628169811501 0.03842748490600132

In [ ]:
H0 is non-correction
H1 is having corelation

# Hypothesis - PercentSalaryHike vs Attrition

In [24]:
stats, p = pearsonr(data.Attrition,data.PercentSalaryHike)
print(stats, p)

0.03253259489105349 0.030743386433355353

In [22]:
stats, p = pearsonr(data.PercentSalaryHike,data.Attrition)
print(stats, p)

0.03253259489105349 0.030743386433355353

In [ ]:
H0 is  correction
H1 is having non-corelation

# Hypothesis - TrainingTimesLastYear vs Attrition

In [27]:
stats, p = pearsonr(data.Attrition,data.TrainingTimesLastYear)
print(stats, p)

-0.049430576244255 0.0010247061915365072

H0 is correction H1 is having non-corelation

# Hypothesis - YearsAtCompany vs Attrition

In [28]:
stats, p = pearsonr(data.Attrition,data.YearsAtCompany)
print(stats, p)

-0.1343922139899772 3.1638831224877484e-19

H0 is no correction H1 is having corelation

# Hypothesis - YearsSinceLastPromotion vs Attrition

In [29]:
stats, p = pearsonr(data.Attrition,data.YearsSinceLastPromotion)
print(stats, p)

-0.03301877514258433 0.028330336189396753

In [ ]:
H0 is  correction H1 is having non-corelation

# Hypothesis - YearsWithCurrManager vs Attrition

In [30]:
stats, p = pearsonr(data.Attrition,data.YearsSinceLastPromotion)
print(stats, p)

-0.03301877514258433 0.028330336189396753

In [ ]:
H0 is no correction H1 is having corelation