# Day23-24 Decision Tree

#(1) Decision Tree for Titanic

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import tree
from sklearn import preprocessing

In [2]:
titanic_train = pd.read_csv("/Users/saipranaychitneni/Documents/LetsUpgrade/Class/Decision Tree/titanic/train.csv")
titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
titanic_train['Age'].mean()

29.69911764705882

In [5]:
new_age_var=np.where(titanic_train['Age'].isnull,30,titanic_train['Age'])

In [6]:
titanic_train['Age']=new_age_var

In [7]:
label_encoder= preprocessing.LabelEncoder()

In [8]:
encoded_sex = label_encoder.fit_transform(titanic_train['Sex'])

In [9]:
get = pd.DataFrame([encoded_sex,titanic_train['Age'],titanic_train['Fare']]).T

In [10]:
tree_model = tree.DecisionTreeClassifier()

In [11]:
tree_model.fit(X=get,y= titanic_train['Survived'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [12]:
with open("Dtree1.dot",'w') as f:
    f= tree.export_graphviz(tree_model, feature_names =["Sex","Age","Fare"],out_file = f)

# (2)  Decision Tree for Attrition Rate Analysis

In [13]:
dataset = pd.read_csv("general_data.csv")
dataset.head(2)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4

In [14]:
from sklearn.ensemble import RandomForestClassifier

In [54]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features=2, oob_score=True)

In [50]:
dataset.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeID                   int64
Gender                      object
JobLevel                     int64
JobRole                     object
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked         float64
Over18                      object
PercentSalaryHike            int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears          float64
TrainingTimesLastYear        int64
YearsAtCompany               int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [17]:
features = ["Age","DistanceFromHome","Education","EmployeeCount","MonthlyIncome","StockOptionLevel","TrainingTimesLastYear","YearsAtCompany","YearsSinceLastPromotion","YearsWithCurrManager"]

In [18]:

rf_model.fit(X=dataset[features],y = dataset["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [19]:
print("OOB ACCURACY : ", rf_model.oob_score_)

OOB ACCURACY :  1.0

In [20]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

Age 0.18949783144726887
DistanceFromHome 0.13867743520453646
Education 0.06912951090988535
EmployeeCount 0.0
MonthlyIncome 0.2078254132410819
StockOptionLevel 0.05833048542135569
TrainingTimesLastYear 0.07779368955119541
YearsAtCompany 0.11226238470668586
YearsSinceLastPromotion 0.06423540808140764
YearsWithCurrManager 0.08224784143658288

These 4 are the best features for Decision Tree
MonthlyIncome 0.20753616786590323
Age 0.19009964596221313
DistanceFromHome 0.138412393939924
YearsAtCompany 0.11099249724151575

In [21]:
# Decision Tree for features

In [22]:
best = pd.DataFrame([dataset['MonthlyIncome'],dataset['Age'],dataset['DistanceFromHome'],dataset['YearsAtCompany']]).T

In [23]:
tree_model.fit(X=best,y= dataset['Attrition'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [24]:
with open("Dtree1.dot",'w') as f:
    f= tree.export_graphviz(tree_model, feature_names =["MonthlyIncome","Age","DistanceFromHome","YearsAtCompany"],out_file = f)

# (3) Decision Tree for Bank Loan Modelling

In [29]:
bigdata = pd.read_excel('/Users/saipranaychitneni/Desktop/Bank_Personal_Loan_Modelling.xlsx', sheet_names ='Data', index = True)
bigdata.head(2)

   Unnamed: 0 Unnamed: 1 Unnamed: 2
0         NaN        NaN        NaN
1         NaN        NaN        NaN

In [35]:
r = pd.read_excel('Bank_Personal_Loan_Modelling.xlsx', sheet_name='Data')

In [36]:
r

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [37]:
r.dtypes

ID                      int64
Age                     int64
Experience              int64
Income                  int64
ZIP Code                int64
Family                  int64
CCAvg                 float64
Education               int64
Mortgage                int64
Personal Loan           int64
Securities Account      int64
CD Account              int64
Online                  int64
CreditCard              int64
dtype: object

In [38]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features=2, oob_score=True)

In [40]:
featured = ["Age","Experience","Income","Family","Education","Mortgage","Securities Account","CD Account","Online","CreditCard"]

In [41]:
rf_model.fit(X=r[featured],y = r["Personal Loan"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [42]:
print("OOB ACCURACY : ", rf_model.oob_score_)

OOB ACCURACY :  0.9832

In [43]:
for feature,imp in zip(featured,rf_model.feature_importances_):
    print(feature,imp)

Age 0.05607906925615623
Experience 0.054249040874327345
Income 0.48270287646307325
Family 0.09545430559586027
Education 0.1581247910790372
Mortgage 0.059627048690950785
Securities Account 0.006990507583918586
CD Account 0.06262934634642367
Online 0.010688304831959785
CreditCard 0.013454709278292856

In [44]:
# Only "INCOME" is the best possible feature

In [45]:
# Decision Tree for features

In [52]:
better = pd.DataFrame(r['Income'])

In [55]:
tree_model.fit(X=better,y= r['Personal Loan'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
with open("Dtree2.dot",'w') as f:
    f= tree.export_graphviz(tree_model, feature_names =["Income","Age","DistanceFromHome","YearsAtCompany"],out_file = f)